# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Env
.venv/

# DVC cache
.dvc/cache/

# Models
models/

# Data
data/raw/
data/processed/

# Label Studio exports
exports/

# Environment variables
.env

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db